body {
    display: contents;
}

.navBar {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.678) ;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    border-color: black white;
    border-style: inset;
}
.logo {
    width: 100%;
    height: 100%;
}



.links {
    width: 10%;
    height: 50%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    text-align: center;
    transition: 0.3s;
}

.links2 {
    width: 40%;
    height: 50%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}


.links2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
    margin-right: 40px;
    transition: 0.3s;
    text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
}


.links2 a:hover{
    text-decoration: wavy;
    color: rgb(19, 102, 102);
    font-size: 30px;
    transition: 0.3s;
    text-shadow: 0.1em 0.1em 0.2em rgb(255, 255, 255);

}

.links2 li{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style-type: none;
}

.links a{
    text-decoration: none;
    color: rgb(47, 14, 124);
    font-size: larger;
    transition: 0.3s;
    text-shadow: 0.1em 0.1em 0.2em rgb(191, 210, 255);

}

.links a:hover{
    text-decoration: wavy;
    color: black;
    font-size: 30px;
    transition: 0.3s;
    text-shadow: 0.1em 0.1em 0.2em rgb(255, 255, 255);

}

.links li{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style-type: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("../assets/fundo-da-linha-azul-ondulado-suave.jpg");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    border-color: white;
    border-style: solid;
}

.titulo {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
}

.informacao1 {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.096);
    background-image: url(../assets/bannerFutsal.jpg);
    background-size: cover;
    background-position: 100%;
    margin-top: 50px;
    border-radius: 30px;
}

.informacao1 p{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: start;
}

.conquistas {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-position: 100%;
    background-size: cover;
    margin-bottom: 50px;
}

.fotos {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.jogando {
    width: 90%;
    height: 50%;
    border-radius: 30px;
    border-style: inset;
    border-color: white;
    background-color: aqua;
    background-image: url(../assets/jogando.jpeg);
    background-position: 100%;
    background-size: cover;
    transition: 0.6s;

}

.jogando:hover {
    width: 93%;
    height: 53%;
    border-radius: 30px;
    border-style: inset;
    border-color: white;
    background-color: aqua;
    background-image: url(../assets/10.jpeg);
    background-position: 100%;
    background-size: cover;
    transition: 0.6s;

}

.jogando1 {
    width: 90%;
    height: 50%;
    border-radius: 30px;
    border-style: inset;
    border-color: white;
    background-color: aqua;
    background-image: url(../assets/fotoTrofeu.jpeg);
    background-position: 100%;
    background-size: cover;
    transition: 0.6s;
}

.jogando1:hover {
    width: 93%;
    height: 53%;
    border-radius: 30px;
    border-style: inset;
    border-color: white;
    background-color: aqua;
    background-image: url(../assets/trofeutime.jpeg);
    background-position: 100%;
    background-size: cover;
    transition: 0.6s;

}

.jogando2 {
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    background-position: 100%;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.video {
    width: 90%;
    height: 100%;
    border-radius: 20px;
}

.simulacao {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: inset;
    border-color: rgb(47, 14, 124);
    background-image: url("https://i1.wp.com/futsalamador.com/wp-content/uploads/2021/05/pascal-swier-otuM-nw-_NY-unsplash.jpg?fit=1024%2C588&ssl=1");
    background-position: 100%;
    background-size: cover;
}

.gif{
    width: 40%;
    height: 65%;
    background: url(../assets/campo.gif);
    background-size: cover;
    background-position: 100%;
    border-radius: 30px;
    border-style: inset;
    border-color: rgb(47, 14, 124);
}

.gif a {
    width: 100%;
    height: 100%;
}

.botao {
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 40px;
    border-color: aqua;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
}

.botao:hover {
    width: 350px;
    height: 45px;
    text-align: center;
    border-radius: 40px;
    border-color: aqua;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
}

